# annoying files
*.icloud
*.DS_Store
.ipynb_checkpoints/
src/__pycache__/imports.cpython-38.pyc
# ignore setup file specific to GFDL
src/conda_setup.sh 
notebooks/.ipynb_checkpoints/
notebooks/Old_Notebooks/